# Virtual environment
.venv*/
venv*/
env*/
.env*/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data or models
data/
*.csv
*.h5
*.pkl

# System files
.DS_Store
